.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 0.1em;
  }
  
.card {
    /*box-shadow: 0 4px 8px 0 rgba(245, 218, 218, 0.2);*/
    box-shadow: 4px 4px 3px 0px #ffc107;
    transition: 0.3s;
}
.card-body {
  justify-content: center;
  margin: 1em;
  background-color: #ffc107;
  max-width: 300px;
  border: 1px black solid;
  min-height: 250px;
}
.card-profile {
  height: 100px;
  width:100px;

}
.card-header {
  border-bottom: black 1px solid;
  padding: 16px 8px 8px 8px;
  display: flex;
  color: black;
}
.card-title {
  margin-top: 10px;
  display: inline-block;
  padding-bottom: 3px;
  line-height: 2rem;
  font-size: 1.25rem;
  color: black;
  list-style: none;
  padding-left: 14px;
}
input[type=text] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border-radius: 4px;
  box-sizing: border-box;
  border: none;
  border-bottom: 2px solid red;
  font-size: 1.4rem;
}
.search-help {
  display: inline-block;
}
h2 {
  font-size: 1.6rem;
}
.button  {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
.separator {
  margin-left: 60px;
  margin-right: 60px;
  font-size: 1.4rem;
}
.pagerContainer {
  display: flex;
}
.buttonDisabled {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  opacity:0.7;
}
.noResults {
  font-size: 2.5rem;
  text-align: center;
}
h3 {
  font-size: 1.6rem;
}
.loader {
  text-align: center;
}
